<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Users\mnofal\source\repos\ServerSyncronization\ServerSyncronization\bin\Debug\net6.0\ServerSyncronization.exe" arguments="" stdoutLogEnabled="false" hostingModel="inprocess">
      </aspNetCore>
    </system.webServer>
</configuration>
